In [1]:
import pandas as pd
import numpy as np
import csv
import time
from datetime import datetime
from datetime import date

## 2019-01
-User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)

In [2]:
#Import Jan CSV for Year: 2019-01
df_2019_01=pd.read_csv("Resources/Citibike_DataSource/JC-201901-citibike-tripdata.csv")

In [3]:
df_2019_01.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [4]:
# Rename Trip Duration to reflect values are in seconds
# https://www.citibikenyc.com/system-data
df_2019_01=df_2019_01.rename(columns={'tripduration':'tripduration(seconds)'
                                      ,'start station id':'start_station_id'
                                      ,'start station name':'start_station_name'
                                      ,'start station latitude': 'start_station_latitude'
                                      ,'start station longitude':'start_station_longitude'
                                      ,'end station id':'end_station_id'
                                      ,'end station name': 'end_station_name'
                                      ,'end station latitude':'end_station_latitude'
                                      ,'end station longitude':'end_station_longitude'
                                      ,'birth year':'birth_year'})

In [5]:
df_2019_01.head(2)

,tripduration(seconds),starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2

In [6]:
df_2019_01.dtypes

tripduration(seconds)        int64
starttime                   object
stoptime                    object
start_station_id             int64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id               int64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bikeid                       int64
usertype                    object
birth_year                   int64
gender                       int64
dtype: object

## Identified na values & filled with "0" or "Unknown"

In [7]:
#Check how many null values in each column
df_2019_01.isnull().sum()

tripduration(seconds)      0
starttime                  0
stoptime                   0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
bikeid                     0
usertype                   0
birth_year                 0
gender                     0
dtype: int64

In [8]:
df_2019_01.usertype.unique()

array(['Subscriber', 'Customer'], dtype=object)

## Work on birth_year & calculate age
-Note: any rider age greater than '85', it will be replce with age '0'

In [9]:
df_2019_01.birth_year.unique()

array([1993, 1972, 1985, 1969, 1986, 1992, 1994, 1990, 1996, 1987, 1960,
       1977, 1966, 1975, 1982, 1984, 1981, 1988, 1971, 1958, 1968, 1976,
       1980, 1965, 1979, 1991, 1983, 1989, 1962, 1954, 1974, 1963, 1970,
       1978, 1955, 1967, 1941, 1961, 1973, 1997, 1949, 1995, 1957, 1998,
       1952, 1953, 1956, 1959, 1888, 1964, 1951, 1999, 2000, 1950, 1944,
       2001], dtype=int64)

In [10]:
df_2019_01['as_of_year']=2019
df_2019_01['month']= 'January'
df_2019_01['season']= 'Winter'

# Use Data Year minus birth_year at the time to obtain raider's age
df_2019_01['Age']=df_2019_01.as_of_year-df_2019_01.birth_year

In [11]:
a = df_2019_01['Age'].unique()
a.sort()
a

array([ 18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  29,  30,
        31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,
        44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,
        57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,
        70,  75,  78, 131], dtype=int64)

In [12]:
df_2019_01['Age'].values[df_2019_01['Age'] > 85] = 0

In [13]:
b = df_2019_01['Age'].unique()
b.sort()
b

array([ 0, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 75, 78], dtype=int64)

In [14]:
df_2019_01['birth_year']=df_2019_01.birth_year.astype(int)

In [15]:
df_2019_01.dtypes

tripduration(seconds)        int64
starttime                   object
stoptime                    object
start_station_id             int64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id               int64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bikeid                       int64
usertype                    object
birth_year                   int32
gender                       int64
as_of_year                   int64
month                       object
season                      object
Age                          int64
dtype: object

In [16]:
df_2019_01.head()

,tripduration(seconds),starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,as_of_year,month,season,Age
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,2019,January,Winter,26
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,2019,January,Winter,47
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,2019,January,Winter,34
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,2019,January,Winter,50
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,2019,January,Winter,50

## Standarized Format for Start Time and End Time 
-.strftime("%Y/%m/%d %H:%M:%S")

In [17]:
#Standarized Start Time and End time 
start_time_201901=[datetime.strptime(x,"%Y-%m-%d %H:%M:%S.%f").strftime("%Y/%m/%d %H:%M:%S") for x in df_2019_01['starttime'].values.tolist()]
end_time_201901=[datetime.strptime(x,"%Y-%m-%d %H:%M:%S.%f").strftime("%Y/%m/%d %H:%M:%S") for x in df_2019_01['stoptime'].values.tolist()]

In [18]:
# Add Columns
df_2019_01['trip_start_time']=start_time_201901
df_2019_01['trip_end_time']=end_time_201901

## Clean the Gender column
--Gender (Zero=unknown; 1=male; 2=female)

In [19]:
#Replace Gender Column
# Gender (Zero=unknown; 1=male; 2=female)
df_2019_01['gender']=df_2019_01['gender'].replace([0], 'Unknown')
df_2019_01['gender']=df_2019_01['gender'].replace([1], 'Male')
df_2019_01['gender']=df_2019_01['gender'].replace([2], 'Female')

In [20]:
df_2019_01.isnull().sum()

tripduration(seconds)      0
starttime                  0
stoptime                   0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
bikeid                     0
usertype                   0
birth_year                 0
gender                     0
as_of_year                 0
month                      0
season                     0
Age                        0
trip_start_time            0
trip_end_time              0
dtype: int64

In [21]:
df_2019_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19676 entries, 0 to 19675
Data columns (total 21 columns):
tripduration(seconds)      19676 non-null int64
starttime                  19676 non-null object
stoptime                   19676 non-null object
start_station_id           19676 non-null int64
start_station_name         19676 non-null object
start_station_latitude     19676 non-null float64
start_station_longitude    19676 non-null float64
end_station_id             19676 non-null int64
end_station_name           19676 non-null object
end_station_latitude       19676 non-null float64
end_station_longitude      19676 non-null float64
bikeid                     19676 non-null int64
usertype                   19676 non-null object
birth_year                 19676 non-null int32
gender                     19676 non-null object
as_of_year                 19676 non-null int64
month                      19676 non-null object
season                     19676 non-null object
Age                        19676 non-null int64
trip_start_time            19676 non-null object
trip_end_time              19676 non-null object
dtypes: float64(4), int32(1), int64(6), object(10)
memory usage: 3.1+ MB

## Export to CSV

In [22]:
# Write to CSV
df_2019_01.to_csv("Resources/df_2019_01.csv", index=False)