In [1]:
import pandas as pd
import numpy as np
import csv
import time
from datetime import datetime
from datetime import date

## 2017-01
-User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)

In [2]:
#Import Jan CSV for Year: 2017-01
df_2017_01=pd.read_csv("Resources/Citibike_DataSource/JC-201701-citibike-tripdata.csv")

In [3]:
df_2017_01.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [4]:
# Rename Trip Duration to reflect values are in seconds
# https://www.citibikenyc.com/system-data
df_2017_01=df_2017_01.rename(columns={'tripduration':'tripduration(seconds)'
                                      ,'start station id':'start_station_id'
                                      ,'start station name':'start_station_name'
                                      ,'start station latitude': 'start_station_latitude'
                                      ,'start station longitude':'start_station_longitude'
                                      ,'end station id':'end_station_id'
                                      ,'end station name': 'end_station_name'
                                      ,'end station latitude':'end_station_latitude'
                                      ,'end station longitude':'end_station_longitude'
                                      ,'birth year':'birth_year'})

In [5]:
df_2017_01.head(2)

,tripduration(seconds),starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,148,1/1/2017 0:21,1/1/2017 0:24,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,1/1/2017 0:24,1/1/2017 0:45,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1

In [6]:
df_2017_01.dtypes

tripduration(seconds)        int64
starttime                   object
stoptime                    object
start_station_id             int64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id               int64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bikeid                       int64
usertype                    object
birth_year                 float64
gender                       int64
dtype: object

## Identified na values & filled with "0" or "Unknown"

In [7]:
#Check how many null values in each column
df_2017_01.isnull().sum()

tripduration(seconds)        0
starttime                    0
stoptime                     0
start_station_id             0
start_station_name           0
start_station_latitude       0
start_station_longitude      0
end_station_id               0
end_station_name             0
end_station_latitude         0
end_station_longitude        0
bikeid                       0
usertype                    18
birth_year                 386
gender                       0
dtype: int64

In [8]:
df_2017_01.usertype.unique()

array(['Subscriber', 'Customer', nan], dtype=object)

In [9]:
df_2017_01['usertype']=df_2017_01['usertype'].fillna('Unknown')

In [10]:
df_2017_01.usertype.unique()

array(['Subscriber', 'Customer', 'Unknown'], dtype=object)

## Work on birth_year & calculate age
-Note: any rider age greater than '85', it will be replce with age '0'

In [11]:
df_2017_01['birth_year']=df_2017_01['birth_year'].fillna('0')

In [12]:
df_2017_01['birth_year']=df_2017_01.birth_year.astype(int)

In [13]:
df_2017_01.birth_year.unique()

array([1983, 1978, 1989, 1961, 1993, 1970, 1967, 1984, 1987, 1985, 1964,
       1986,    0, 1972, 1962, 1992, 1977, 1981, 1958, 1975, 1979, 1980,
       1957, 1974, 1982, 1949, 1960, 1969, 1990, 1976, 1991, 1999, 1968,
       1959, 1988, 1998, 1966, 1965, 1954, 1956, 1973, 1953, 1971, 1952,
       1963, 1994, 1995, 1996, 1955, 1931, 1950, 1951, 1941, 1947, 1997,
       1948], dtype=int64)

In [14]:
# Add column to calculate age
df_2017_01['as_of_year']=2017
df_2017_01['month']= 'January'
df_2017_01['season']= 'Winter'

# Use Data Year minus birth_year at the time to obtain raider's age
df_2017_01['Age']=df_2017_01.as_of_year-df_2017_01.birth_year

In [15]:
a = df_2017_01['Age'].unique()
a.sort()
a

array([  18,   19,   20,   21,   22,   23,   24,   25,   26,   27,   28,
         29,   30,   31,   32,   33,   34,   35,   36,   37,   38,   39,
         40,   41,   42,   43,   44,   45,   46,   47,   48,   49,   50,
         51,   52,   53,   54,   55,   56,   57,   58,   59,   60,   61,
         62,   63,   64,   65,   66,   67,   68,   69,   70,   76,   86,
       2017], dtype=int64)

In [16]:
df_2017_01['Age'].values[df_2017_01['Age'] > 85] = 0

In [17]:
b = df_2017_01['Age'].unique()
b.sort()
b

array([ 0, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 76], dtype=int64)

In [18]:
df_2017_01.dtypes

tripduration(seconds)        int64
starttime                   object
stoptime                    object
start_station_id             int64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id               int64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bikeid                       int64
usertype                    object
birth_year                   int32
gender                       int64
as_of_year                   int64
month                       object
season                      object
Age                          int64
dtype: object

## Standarized Format for Start Time and End Time 
-.strftime("%Y/%m/%d %H:%M:%S")

In [19]:
#Standarized Start Time and End time 
start_time_201701=[datetime.strptime(x,"%m/%d/%Y %H:%M").strftime("%Y/%m/%d %H:%M:%S") for x in df_2017_01['starttime'].values.tolist()]
end_time_201701=[datetime.strptime(x,"%m/%d/%Y %H:%M").strftime("%Y/%m/%d %H:%M:%S") for x in df_2017_01['stoptime'].values.tolist()]

In [20]:
# Add Columns
df_2017_01['trip_start_time']=start_time_201701
df_2017_01['trip_end_time']=end_time_201701

## Clean the Gender column
--Gender (Zero=unknown; 1=male; 2=female)

In [21]:
#Replace Gender Column
# Gender (Zero=unknown; 1=male; 2=female)
df_2017_01['gender']=df_2017_01['gender'].replace([0], 'Unknown')
df_2017_01['gender']=df_2017_01['gender'].replace([1], 'Male')
df_2017_01['gender']=df_2017_01['gender'].replace([2], 'Female')

In [22]:
df_2017_01.isnull().sum()

tripduration(seconds)      0
starttime                  0
stoptime                   0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
bikeid                     0
usertype                   0
birth_year                 0
gender                     0
as_of_year                 0
month                      0
season                     0
Age                        0
trip_start_time            0
trip_end_time              0
dtype: int64

In [23]:
df_2017_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12926 entries, 0 to 12925
Data columns (total 21 columns):
tripduration(seconds)      12926 non-null int64
starttime                  12926 non-null object
stoptime                   12926 non-null object
start_station_id           12926 non-null int64
start_station_name         12926 non-null object
start_station_latitude     12926 non-null float64
start_station_longitude    12926 non-null float64
end_station_id             12926 non-null int64
end_station_name           12926 non-null object
end_station_latitude       12926 non-null float64
end_station_longitude      12926 non-null float64
bikeid                     12926 non-null int64
usertype                   12926 non-null object
birth_year                 12926 non-null int32
gender                     12926 non-null object
as_of_year                 12926 non-null int64
month                      12926 non-null object
season                     12926 non-null object
Age                        12926 non-null int64
trip_start_time            12926 non-null object
trip_end_time              12926 non-null object
dtypes: float64(4), int32(1), int64(6), object(10)
memory usage: 2.0+ MB

## Export to CSV

In [24]:
# Write to CSV
df_2017_01.to_csv("Resources/df_2017_01.csv", index=False)