In [12]:
import io
import pandas as pd
import numpy as np
import csv
import calendar
import time
from datetime import datetime
from datetime import date

# 2017-01
-Gender (Zero=unknown; 1=male; 2=female) 

-User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)

In [13]:
#Import Jan CSV for Year: 2017-01
df_2017_01=pd.read_csv("Resources/Citibike_DataSource/JC-201701-citibike-tripdata.csv")

In [14]:
#Check how many null values in each column
df_2017_01.isnull().sum()

tripduration                 0
starttime                    0
stoptime                     0
start station id             0
start station name           0
start station latitude       0
start station longitude      0
end station id               0
end station name             0
end station latitude         0
end station longitude        0
bikeid                       0
usertype                    18
birth year                 386
gender                       0
dtype: int64

In [15]:
#Standarized Start Time and End time 
start_time_201701=[datetime.strptime(x,"%m/%d/%Y %H:%M").strftime("%Y/%m/%d %H:%M:%S") for x in df_2017_01['starttime'].values.tolist()]
end_time_201701=[datetime.strptime(x,"%m/%d/%Y %H:%M").strftime("%Y/%m/%d %H:%M:%S") for x in df_2017_01['stoptime'].values.tolist()]

In [16]:
#Replace Gender Column
# Gender (Zero=unknown; 1=male; 2=female)
df_2017_01['gender']=df_2017_01['gender'].replace([0], 'Unknown')
df_2017_01['gender']=df_2017_01['gender'].replace([1], 'Male')
df_2017_01['gender']=df_2017_01['gender'].replace([2], 'Female')

In [17]:
# Rename Trip Duration to reflect values are in seconds
# https://www.citibikenyc.com/system-data
df_2017_01=df_2017_01.rename(columns={'tripduration':'tripduration(seconds)'
                                 , 'birth year': 'birth_year'})

In [18]:
#Clearn up defect data related to birth year: {1885, 1886, 1887, 1888, 1890, 1893, 1895, 1896, 1899}
byr_2017_01= df_2017_01.birth_year < 1930
column_name_201701 ='birth_year'
df_2017_01.loc[byr_2017_01, column_name_201701] = 0

In [19]:
# Add Columns
df_2017_01['as_of_year']=2017
df_2017_01['month']= 'January'
df_2017_01['trip_start_time']=start_time_201701
df_2017_01['trip_end_time']=end_time_201701
# df_2017_01['state']='New York'
# df_2017_01['city']='New York City'

# Add column to calculate age
df_2017_01['Age']=df_2017_01.as_of_year-df_2017_01.birth_year

In [20]:
df1=pd.DataFrame(df_2017_01)
df1.head(2)

,tripduration(seconds),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth_year,gender,as_of_year,month,trip_start_time,trip_end_time,Age
0,148,1/1/2017 0:21,1/1/2017 0:24,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,Male,2017,January,2017/01/01 00:21:00,2017/01/01 00:24:00,34.0
1,1283,1/1/2017 0:24,1/1/2017 0:45,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,Male,2017,January,2017/01/01 00:24:00,2017/01/01 00:45:00,39.0

In [22]:
df1.isnull().sum()

tripduration(seconds)        0
starttime                    0
stoptime                     0
start station id             0
start station name           0
start station latitude       0
start station longitude      0
end station id               0
end station name             0
end station latitude         0
end station longitude        0
bikeid                       0
usertype                    18
birth_year                 386
gender                       0
as_of_year                   0
month                        0
trip_start_time              0
trip_end_time                0
Age                        386
dtype: int64

In [21]:
#Write to CSV
df1.to_csv("Resources/df1.csv", index=False)

# 2017-08

In [ ]:
#Import Jan CSV for Year: 2017-01
df_2017_08=pd.read_csv("Resources/Citibike_DataSource/JC-201708-citibike-tripdata.csv")

#Standarized Start Time and End time 
start_time_201708=[datetime.strptime(x,"%m/%d/%Y %H:%M").strftime("%Y/%m/%d %H:%M:%S") for x in df1['starttime'].values.tolist()]
end_time_201708=[datetime.strptime(x,"%m/%d/%Y %H:%M").strftime("%Y/%m/%d %H:%M:%S") for x in df1['stoptime'].values.tolist()]

In [ ]:
df_2017_01['as_of_year']=2017
df_2017_01['month']= 'January'
df_2017_01['trip_start_time']=start_time_201701
df_2017_01['trip_end_time']=end_time_201701
df_2017_01.head(2)

In [ ]:
df_2017_final = [datetime.strptime(x,"%m/%d/%Y %H:%M").strftime("%Y/%m/%d %H:%M:%S") for x in df1['starttime'].values.tolist()]

In [ ]:
df_2017_final

In [ ]:
df_2018_01=pd.read_csv("Resources/Citibike_DataSource/JC-201801-citibike-tripdata.csv")
df_2018_01['as_of_year']=2018
df_2018_01['month']= 'January'
df2=pd.DataFrame(df_2018_01)

In [ ]:
df_2019_01=pd.read_csv("Resources/Citibike_DataSource/JC-201901-citibike-tripdata.csv")
df_2019_01['as_of_year']=2019
df_2019_01['month']= 'January'
df3=pd.DataFrame(df_2019_01)

In [ ]:
test

In [ ]:
test[1].strftime("%Y/%m/%d %H/%M/%S")

In [ ]:
#Import Aug CSV for Year: 2017 to 2019
df_2017_08=pd.read_csv("Resources/Citibike_DataSource/JC-201708-citibike-tripdata.csv")
df_2017_08['as_of_year']=2017
df_2017_08['month']= 'August'
df4=pd.DataFrame(df_2017_08)

df_2018_08=pd.read_csv("Resources/Citibike_DataSource/JC-201808-citibike-tripdata.csv")
df_2018_08['as_of_year']=2018
df_2018_08['month']= 'August'
df5=pd.DataFrame(df_2018_08)

df_2019_08=pd.read_csv("Resources/Citibike_DataSource/JC-201908-citibike-tripdata.csv")
df_2019_08['as_of_year']=2019
df_2019_08['month']= 'August'
df6=pd.DataFrame(df_2019_08)

In [ ]:
df6.info()

# # Merge all CSV into one single DataFrame

In [ ]:
frames=[df1,df2,df3,df4,df5,df6]

In [ ]:
result=pd.concat(frames)

In [ ]:
result.head()

In [ ]:
# Rename Trip Duration to reflect values are in seconds
# https://www.citibikenyc.com/system-data
result=result.rename(columns={'tripduration':'tripduration(seconds)'
                                 , 'birth year': 'BirthYear'})

In [ ]:
result.info()

# Replace Gender Column
Gender (Zero=unknown; 1=male; 2=female)
User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)

In [ ]:
result['gender']=result['gender'].replace([0], 'Unknown')
result['gender']=result['gender'].replace([1], 'Male')
result['gender']=result['gender'].replace([2], 'Female')

In [ ]:
result.head()

# Clean up Birth Year 

- 1885, 1886, 1887, 1888, 1890, 1893, 1895, 1896, 1899,

In [ ]:
fault_birthYear= result.BirthYear < 1930

In [ ]:
column_name ='BirthYear'

In [ ]:
result.loc[fault_birthYear, column_name] = 0

In [ ]:
# merge_df.sort_values(by='BirthYear', ascending=True, na_position= 'last')

# Add Column for Age at the time (as_of_year)

In [ ]:
result['as_of_Age']=result.as_of_year-result.BirthYear

In [ ]:
result.head(3)

# Write to CSV

In [ ]:
result.to_csv("Resources/merge_df.csv", index=False)

In [ ]:
result.info()